#Header {
    -fx-background-image: url("../Images/bg_blue.jpg");
}

#btn {
    -fx-color: black;
    -fx-fill: blue;
    -fx-padding: 4px;
    -fx-background-color: #3D5AFE;
    -fx-font-size: 20px;
}